$bg-1-color: #222831;
$bg-2-color: #30475e;

$highlight-color: #f2a365;
$main-color: #ececec;

$font-size-default: 18px;
$font-size-default-mobile: 18px;

@import url("../node_modules/fullpage.js/dist/fullpage.min.css");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 1.1em;
}

html,
body {
    min-height: 100%;
    width: 100%;
    font-size: $font-size-default;
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
    //border-bottom: 2px solid $highlight-color;
    display: inline-block;
    position: relative;
    &:after {
        content: '';
        display: block;
        border-bottom: 2px solid $highlight-color;
        width: 0;
        position: absolute;
        right: 0;
        -webkit-transition: 1s ease;
        transition: 1s ease;
        
      }
    &.active:after{
        width: 100%;
    }

      
}

h3 {
    font-size: 1.8em;
}

body {
    color: $main-color;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
}

header {
    margin: 0 1em;
    position: fixed;
    max-height: 50px;
    z-index: 10;
    width: calc(100% - 2em);

    .img {
        height: 50px;
    }

    & > * {
        margin: 0.5em;
        float: left;
    }
}

footer {
    padding: 0 2em;
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: calc(100% - 4em);

    a{
        margin-right: .5em;
        float: right;
    }
}

h1,
h2,
h3 {
    margin: 0.2em 0;
}

a {
    color: $main-color;

    &:hover {
        color: $highlight-color;
    }
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(314deg, #222831, #30475e);
    background-size: 400% 400%;

    animation: move-bg 19s ease infinite;
}

.highlight {
    color: $highlight-color;
}

.typewriter {
    display: inline-block;

    .typewriter-text {
        display: inline-block;
        overflow: hidden;
        letter-spacing: 2px;
        animation: typing 3s steps(14, end), blink 0.6s step-end infinite;
        white-space: nowrap;
        font-weight: 700;
        border-right: 4px solid $highlight-color;
        font-family: "Anonymous Pro", monospace;
        box-sizing: border-box;
    }
}

//menu
.open-menu > .toggle-menu {
    padding: 2em;
    padding-right: 6em;
    padding-top: 100px;
    height: 100%;
    max-height: 100%;
    flex: 1;
}

.toggle-menu {
    max-height: 0;
    margin: 0;
    flex: 0;
    overflow: hidden;
    position: fixed;
    z-index: 20;
    top: 0px;
    right: 0px;
    padding: 0em;
    transition: max-height 0.3s linear, padding 0.3s linear;
    //transition:flex 2s ease-out;
    background-color: $highlight-color;
    a:hover{
        color: $bg-1-color;
    }

    p {
        text-align: left;
        margin-top: 0.5em;
    }
}

#hamburger-icon {
    z-index: 30;
    width: 60px;
    height: 45px;
    float: right;
    position: relative;
    margin: 1em;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 9px;
        width: 50%;
        background-color: $highlight-color;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.4s ease-in-out, background-color .5s linear;

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }
        &:nth-child(odd) {
            left: 0px;
            border-radius: 9px 0 0 9px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            top: 0px;
        }
        &:nth-child(3),
        &:nth-child(4) {
            top: 18px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            top: 36px;
        }
    }
    &.open {
        span{
            background-color: $main-color;
        }
        span:nth-child(1),
        span:nth-child(6) {
            transform: rotate(45deg);
        }
        span:nth-child(2),
        span:nth-child(5) {
            transform: rotate(-45deg);
        }
        span:nth-child(1) {
            left: 5px;
            top: 7px;
        }
        span:nth-child(2) {
            left: calc(50% - 5px);
            top: 7px;
        }
        span:nth-child(3) {
            left: -50%;
            opacity: 0;
        }
        span:nth-child(4) {
            left: 100%;
            opacity: 0;
        }
        span:nth-child(5) {
            left: 5px;
            top: 29px;
        }
        span:nth-child(6) {
            left: calc(50% - 5px);
            top: 29px;
        }
    }
}

#fp-nav ul li a span {
    background: $main-color;
}

.button {
    float: left;
    display: block;
    padding: 0.5em;
    background-color: transparent;
    border: 1px $main-color solid;
    border-radius: 5px;
    color: $main-color;
    text-decoration: none;
    margin-top: 0.5em;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
    text-align: center;
    box-shadow: 2px 2px;
    &:hover {
        border-color: $highlight-color;
        color: $highlight-color;
    }

    &.withBg:hover{
        background-color: $bg-2-color;
    }
}

.socialMedia {
    transition: transform 0.3s ease;
    paint-order: stroke;
    path {
        fill: $main-color;
        stroke: $main-color;
        stroke-width: 0;
        transition: fill 0.3s ease, stroke 0.3s ease, stroke-width 0.3s ease;
    }
}

.socialMedia:hover {
    transform: scale(1.1);
    path {
        fill: $highlight-color;
        stroke: $highlight-color;
        stroke-width: 0;
    }
}

.about {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .text {
            flex: 1 1 450px;
            min-width: 450px;
            max-width: 700px;
        }

        & > * {
            margin: 2em;
        }
    }

    .img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-left: 2em;
        margin-right: 2em;
        flex: 0 0 200px;
        border: 2px $main-color solid;
        float: left;
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 100%;

        img {
            position: absolute;
            margin-left: 0%;
            width: 100%;
        }
    }
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 35px;

    .flex-break {
        flex-basis: 100%;
        margin-bottom: 2em;

    }

    .skill-section {
        flex: 1 1 auto;
        margin: .5em;
        //border: 3px solid rgba(242, 163, 101, 0.5);
        background-color: transparent;
        border: 5px $main-color solid;
        //box-shadow: -2px -2px 0px 3px $main-color;
        border-radius: 5px;
        max-width: 400px;
        ul{
            padding: .5em;
            list-style: none;

            li{
                padding: .5em;
                border-bottom: 1px solid $main-color;
                font-weight: 800;
            }

            li:last-child{
                border-bottom:0;
            }
        }
        h3{
            margin-top: 0;
            padding: .5em;
            background-color: $main-color;
            color: $bg-2-color;
        }
    }
}

.contact{
    .text{
        & > *{
            margin-bottom: 1.2em;
        }
        a {
            text-decoration: none;
            display: inline-block;
            margin-top: 0.5em;
            margin-bottom: 0px;
            margin-right: .5em;
            svg{
                margin-bottom: 0;
            }
        }
    }
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {
    display: none;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: $highlight-color;
    }
}

@keyframes move-bg {
    from,
    to  {
        background-position: 0% 2%;
    }
    50% {
        background-position: 100% 99%;
    }
}

@import "phone";