/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, .75);
  background-color: #131515;
  display: flex;
  flex-direction: column;
  font-family: 'Anonymous Pro', monospace;
  align-items: center;
  position: relative;
}

h2 {
  margin: .5em 0em;
  font-size: 32px;
}

p {
  font-size: 18px;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

header>nav {
  position: fixed;
  width: 100%;
  float: left;
  z-index: 5;
  background-color:#131515;
  border-bottom: 1px solid white;
}

header>nav>* {
  margin-top: 1.5em;
  margin-left: 1em;
  float: left;
}

header>nav>*:nth-child(1) {
  margin-left: 2em;
}

header>nav>.logo, header>nav>.logo>img {
  width: 40px;
}

main {
  width: calc(100% - 4em);
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}

section>img {
  float: left;
  filter: blur(0.2em);
  max-height: 300px;
}

section>.text {
  padding: 1em;
  float: left;
  background-color: white;
  color: #131515;
  max-width: 600px;
}

footer {
  margin-bottom: 2em;
}

.space-1 {
  margin-top: 1em;
}

.space-2 {
  margin-top: 2em;
}

.space-3 {
  margin-top: 3em;
}

.space-4 {
  margin-top: 4em;
}

.space-5 {
  margin-top: 5em;
}

.btn {
  line-height: 2;
  transition: color 0.5s ease, background-color 0.5s ease;
  font-size: 130%;
  background-color: transparent;
  border: 3px solid #7de2d1;
  color: white;
  padding: .1em .8em;
  border-radius: .3em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #7de2d1;
  color: white;
}

.btn.btn-discrete {
  border: 0;
}

.btn.btn-discrete:hover {
  background-color: transparent;
}

.btn.btn-notext>i {
  font-size: 250%;
  margin-right: 0;
}

.btn>i {
  transition: color 0.5s ease;
  margin-right: .5em;
  color: #7de2d1
}

.btn:hover>i {
  color: white;
}

.move:hover {
  display: inline-block;
  animation: move 1s both;
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(14, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #7de2d1;
  box-sizing: border-box;
}

.bottom {
  position: absolute;
  bottom: 1em;
}

@keyframes typing {
  from {
    width: 0%
  }
  to {
    width: 100%
  }
}

@keyframes blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #7de2d1;
  }
}

@keyframes pulse {
  0% {
    background: transparent;
    transform: scale(1);
  }
  5% {
    background: #7de2d1;
    transform: scale(1.015);
  }
  10% {
    background: transparent;
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    transform: scale3d(1, 1, 1);
  }
  20% {
    transform: scale3d(1.3, 0.7, 1);
  }
  30% {
    transform: scale3d(0.7, 1.3, 1);
  }
  40% {
    transform: scale3d(1.2, 0.8, 1);
  }
  50% {
    transform: scale3d(0.8, 1.2, 1);
  }
  60% {
    transform: scale3d(1.1, 0.9, 1);
  }
  70% {
    transform: scale3d(0.9, 1.1, 1);
  }
  80% {
    transform: scale3d(1.05, 0.95, 1);
  }
  90% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.circular {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 7em;
  margin-bottom: 2em;
}

.circular img {
  width: 100%;
  height: 100%;
  margin-left: -10px;
  margin-top: 5px;
}

.background {
  z-index: -1;
  position: fixed;
  width: 90vw;
  height: 100%;
}

.background>.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
}

.background>.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: run 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.background>.line:nth-child(1) {
  margin-left: -40%
}

.background>.line:nth-child(2)::after {
  animation-delay: 2s
}

.background>.line:nth-child(3) {
  margin-left: 40%
}

.background>.line:nth-child(3)::after {
  animation-delay: 2.5s
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.background>.box {
  margin: 1em;
  filter: blur(6em);
  width: calc(10% - 2em);
  height: calc(10% - 2em);
  position: relative;
  float: left;
}

.highlight {
  color: #7de2d1;
}